# before making any changes in config file please read Readme file for clarification.

[global]
input_dir = C:\Users\ghadsh9\Desktop\excel_to_sql\ug5_ssis_sqls
output_dir = C:\Users\ghadsh9\Desktop\excel_to_sql
include_extension =.sql,.txt,.mload,.sh,.ksh,.md,.tas,.docx,.btq,.bteq
exclude_extension =

stats = False

[csv_prerequisite]
column_to_extract =
column_index =

[FILE]
db_object =
process_file_count =25000
